select {
    width: 100%;
}

table {
    width: 100%;
}

td, th {
    padding: 0.5rem;
}

th {
    background-color: lightgreen;
    position: sticky;
    top: 0;
}

#tracks-table-container {
    width: 800px;
    height: 600px;
    overflow-y: scroll;
}

.play-btn {
    width: 40px;
    height: 15px;
    display: inline-block;
    color: lightgreen;
}

.play-btn:hover, #play-all-btn:hover {
    color: black;
}

.play-btn:active, #play-all-btn:active {
    color: lightgray;
}

#play-all-btn {
    color: white;
}

.play-btn-col {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
}

.flex-child {
    flex: 0 1 auto;
    width: 100%;
    padding: 5px;
}

#selects-container {
    width: 450px;
}
