select {
	min-width: 200px;
}

table {
	width: 100%;
}

td, th {
	padding: 0.5rem;
}

th {
	background-color: lightgreen;
	position: sticky;
	top: 0;
}

#tracks-table-container {
	width: 800px;
	height: 600px;
	overflow-y: scroll;
}

.play-btn {
	width: 15px;
	height: 15px;
	display: inline-block;
}

.play-btn-col {
	text-align: center;
}
