<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Snapshot</title>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	</head>
	<body>
		<h1>
			Hey there <span id="display_name">{{ display_name }}</span>
			<small><a href="/sign_out">[sign out]<a/></small>
		</h1>
		<br>
		<button id="save-snapshot" type="button">Save Snapshot</button>
		<br>
		<select id="playlist" size=10 onchange="update_snapshot_select()"></select>
		<select id="snapshot" size=10></select>
	</body>
	<script src="{{url_for('static', filename='index.js')}}"></script>
</html>
