<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snapshot</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://kit.fontawesome.com/4186f26035.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
  </head>
  <body>
    <div class="grid-container">
      <div id="header">
        <img id="name-img"  src="{{url_for('static', filename='snapshot.png')}}">
        <button id="sign-out-button"  type="button" onclick="sign_out_button_on_click()">
          Sign Out
        </button>
      </div>
      <div id="selects-container">
        <div id="playlist-select-div" class="select">
          <select id="playlist-select" onchange="update_snapshot_select()"></select>
        </div>
        <div id="snapshot-select-div" class="select">
          <select id="snapshot-select" onchange="update_tracks_table()">
            <option selected>Current Tracks</option>
          </select>
        </div>
      </div>
      <div id="controls-container">
        <button id="save-snapshot" type="button">Save Snapshot</button>
        <button id="rename-snapshot" type="button">
          Rename Snapshot
        </button>
        <button id="create-playlist" type="button" onclick="create_playlist_button_on_click()">
          Create Playlist
        </button>
        <button id="delete-snapshot" type="button" onclick="delete_snapshot_button_on_click()">
          Delete Snapshot
        </button>
      </div>
      <div id="tracks-table-container">
        <table id="tracks-table">
          <thead>
            <tr>
              <th>
                <div class="play-btn" id="play-all-btn">
                  <i class="fas fa-play"></i>
                </div>
              </th>
              <th>Title</th>
              <th>Artist</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <a id="github-link" href="https://github.com/joshlacount/snapshot" target="_blank" rel="noopener noreferrer">
        View on GitHub
      </a>
    </div>
  </body>
</html>
