<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Snapshot</title>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
		<script src="https://kit.fontawesome.com/4186f26035.js" crossorigin="anonymous"></script>
		<script src="{{url_for('static', filename='index.js')}}"></script>
	</head>
	<body>
		<h1>
			Hey there <span id="display_name">{{ display_name }}</span>
			<small><a href="/sign-out">[sign out]<a/></small>
		</h1>
		<div>
			<div>
				<button id="save-snapshot" type="button">Save Snapshot</button>
			</div>
			<div>
				<div>
					<select id="playlist-select" size=10 onchange="update_snapshot_select()"></select>
					<select id="snapshot-select" size=10 onchange="update_tracks_table()">
						<option selected>Current Tracks</option>
					</select>
				</div>
				<div id="tracks-table-container">
					<table id="tracks-table">
						<thead>
							<tr>
								<th>
									<div class="play-btn" id="play-all-btn">
										<i class="fas fa-play"></i>
									</div>
								</th>
								<th>Title</th>
								<th>Artist</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
